# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/codeStyles/
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/scala_compiler.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/
